<div class="cs-table">
    <table ng-table="listController.tableData" 
           class="table table-condensed table-bordered table-striped"
           show-filter="false" >
        <colgroup>
            <col width="2%" />
            <col width="15%" />
            <col width="15%" />
            <col width="20%" />
            <col width="44%" />
            <col width="2%" />
            <col width="2%" />
        </colgroup>
        <tr ng-repeat="node in $data track by node.objectKey">
            <td>
                <span class="btn-icon">
                    <img src="{{node.$icon}}" alt="{{node.$classTitle}}">
                </span>
            </td>
            <td title="'Name'" data-sortable="'name'">
                {{node.name}}
            </td>
            <td title="'Thema'" data-sortable="'$classTitle'">
                {{node.$classTitle}}
            </td>
            <td title="'Beschreibung'">
                {{node.$data | descriptionFilter}}
            </td>                                       
            <td title="'Schadstoffe'">
                <span ng-repeat="tag in node.$data.tags | filter:{taggroupkey:'POLLUTANT'}:true">
                    <span class="label label-warning">{{tag.key}}</span>
                </span>
            </td>
            <td title="''">
                <a class="btn btn-sm btn-icon"
                   data-ui-sref="modal.entity({class: node.classKey.split('.').slice(1, 2).pop(), id:node.LEGACY_OBJECT_ID})"
                   title="Informationen zum Object anzeigen">
                    <span class="fa fa-info-circle fa-2x"></span>
                </a>
            </td>
            <td title="''">
                <a class="btn btn-sm btn-icon"
                   title="Zur Merkliste hinzufügen"
                   ng-click="mainController.addAnalysisNode(node)">
                    <span class="fa fa-plus-circle fa-2x"></span>
                </a>

            </td>
        </tr>
    </table>

    <!--<table ng-table="listController.tableData" class="table" show-filter="false" >
        <colgroup>
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups">
            <td colspan="3">
                <a href="" ng-click="group.$hideRows = !group.$hideRows">
                    <span class="glyphicon" 
                          ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    <strong>{{group.value}}</strong>
                </a>
            </td>
        </tr>
        
        <tr ng-hide="group.$hideRows" 
            ng-repeat="node in group.data" 
            ng-repeat-end>
            <td title="'Thema'" groupable="'classKey'" ng-if="false">
                {{node.classKey}}</td>
            <td title="'Name'" sortable="'name'" groupable="'name'">
                {{node.name}}</td>
            <td title="'Beschreibung'" groupable="'description'">
                {{node.description}}</td>
        </tr>
    </table>-->

    <!--
    <table ng-table-dynamic="listController.tableData with listController.tableColumns" 
           class="table table-condensed table-bordered table-hover">
        <colgroup>
          <col width="20%" />
          <col width="30%" />
          <col width="30%" />
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups">
          <td colspan="{{$groups.visibleColumnCount}}">
            <a href="" ng-click="group.$hideRows = !group.$hideRows">
              <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
              <strong>{{ group.value }}</strong>
            </a>
          </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="node in group.data" ng-repeat-end>
          <td ng-repeat="col in $columns">{{node[col.field]}}</td>
        </tr>
      </table>    -->
</div>


<div class="cs-filter">
    <!--<div class="flex-container-horizontal" style="margin:100px">
        <center><h1>POST-FILTER Platzhalter</h1></center>
    </div>-->


    <div class="cs-filter-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="btn-icon">
                    <img src="icons/factory_16.png" alt="ePRTR"/>
                </span>
                Meldeperiode
            </div>
            <div class="panel-body" style="min-width:200px;height:220px">
                <span class="label label-primary">1999</span>
                <span class="label label-primary">2000</span>
                <span class="label label-primary">2001</span>
                <span class="label label-primary">2002</span>
                <span class="label label-primary">2003</span>
                <span class="label label-primary">2004</span>
                <span class="label label-primary">2005</span>
                <span class="label label-primary">2006</span>
                <span class="label label-primary">2007</span>
                <span class="label label-primary">2008</span>
                <span class="label label-primary">2009</span>
                <span class="label label-primary">2010</span>
                <span class="label label-primary">2010</span>
            </div>
        </div>
    </div>

    <div class="cs-filter-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="btn-icon">
                    <img src="icons/factory_16.png" alt="ePRTR"/>
                </span>
                Freisetzungsart
            </div>
            <div class="panel-body" style="min-width:200px;height:220px">
                <span class="label label-primary">LUFT</span>
                <span class="label label-primary">WASSER DIREKT</span>
                <span class="label label-primary">WASSER INDIREKT</span>
            </div>
        </div>
    </div>

    <div class="cs-filter-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="btn-icon">
                    <img src="icons/showel_16.png" alt="ePRTR"/>
                </span>
                Maximalwerte
            </div>
            <div class="panel-body" style="min-width:200px;height:220px">
                <span class="fa fa-plus-circle pull-right" style="color:green"></span>
            </div>
        </div>
    </div>

    <div class="cs-filter-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="btn-icon">
                    <img src="icons/wagw_16.png" alt="ePRTR"/>
                </span>
                Maximalwerte
            </div>
            <div class="panel-body" style="min-width:200px;height:220px">
                <span class="fa fa-plus-circle pull-right" style="color:green"></span>
            </div>
        </div>
    </div>

    <div class="cs-filter-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="btn-icon">
                    <img src="icons/waow_16.png" alt="ePRTR"/>
                </span>
                Maximalwerte
            </div>
            <div class="panel-body" style="min-width:200px;height:220px">
                <span class="fa fa-plus-circle pull-right" style="color:green"></span>
            </div>
        </div>
    </div>

    <div class="cs-filter-panel last">
        <button class="btn btn-default">Filter anwenden</button>
        <p>&nbsp;</p>
        <button class="btn btn-default">Filter löschen</button>
    </div>

</div>