<nav class="navbar navbar-default cs-toolbar" >
    <div id="search-toolbar" class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-left">
            <button type="button"
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="main.search.map"
                    title="Zur Kartenansicht wechseln">
                <span class="fa fa-map-o"></span>
            </button>
            <button type="button"
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="main.search.list"
                    title="Zur Listenansicht wechseln">
                <span class="fa fa-list"></span>
            </button>
        </div>

        <!-- Auf Objekte zentrieren -->
        <form class="navbar-form navbar-left cs-toolbar-form">
            <button type="button" 
                    id="external-datasources" 
                    class="btn btn-default btn-primary navbar-btn"
                    ng-click="searchController.gotoNodes()"
                    ng-disabled="!searchController.hasNodes()"
                    ng-visible=""
                    title="Auf Objekte in der Karte zentrieren">
                <span class="fa fa-arrows-alt"></span>
            </button>
        </form>

        <!-- Einschränkungen ----------------------------------------------- -->
        <form class="navbar-form navbar-left cs-toolbar-form">
            <label>Einschränkungen</label>

            <!-- Search Locations -->
            <div class="btn-group">
                <div ng-dropdown-multiselect=""
                     id="search-themes"
                     options="searchController.searchLocations" 
                     selected-model="searchController.selectedSearchLocation" 
                     extra-settings="searchController.searchLocationsSettings"
                     events="searchController.selectedSearchLocationEvents"
                     title="Geografische Einschränkungen">  
                </div>
            </div>    

            <!-- Search Themes -->
            <div class="btn-group">
                <div ng-dropdown-multiselect=""
                     id="search-themes"
                     options="searchController.searchThemes" 
                     selected-model="searchController.selectedSearchThemes" 
                     extra-settings="searchController.searchThemesSettings"
                     translation-texts="searchController.searchThemesTranslationTexts"
                     title="Thematische Einschränkungen">  
                </div>
            </div>    

            <!-- Search Pollutants -->
            <div class="btn-group">
                <div ng-dropdown-multiselect=""
                     id="search-pollutants"
                     options="searchController.searchPollutants" 
                     selected-model="searchController.selectedSearchPollutants" 
                     extra-settings="searchController.searchPollutantsSettings"
                     translation-texts="searchController.searchPollutantsTranslationTexts"
                     group-by="pollutantgroup"
                     title="Einschränkungen nach Schadstoffen"> 
                </div>
            </div>   

            <button type="submit" 
                    title="Suche mit ausgewählten Einschränkungen durchführen"
                    class="btn btn-success navbar-btn cs-toolbar-form-action"
                    ng-disabled="(searchController.selectedSearchThemes.length === 0 || searchController.selectedSearchPollutants.length === 0)"
                    ng-click="searchController.search()">
                <span class="fa fa-search"></span>
            </button>
        </form>

        <!-- Gazzetteer  -->
        <form class="navbar-form navbar-left cs-toolbar-form  navbar-right">
            <label>Gehe zu</label>

            <div class="btn-group">
                <div ng-dropdown-multiselect=""
                     id="gazetteer-locations"
                     options="searchController.gazetteerLocations" 
                     selected-model="searchController.selectedGazetteerLocation" 
                     extra-settings="searchController.gazetteerLocationsSettings"
                     translation-texts="searchController.gazetteerLocationsTranslationTexts"
                     group-by="category"
                     title="Orte für Gazetteerabfrage"> 
                </div>
            </div>

            <button type="submit" 
                    title="Gehe zu ausgewähltem Ort"
                    class="btn btn-success navbar-btn cs-toolbar-form-action"
                    ng-disabled="!searchController.selectedGazetteerLocation.$self"
                    ng-click="searchController.gotoLocation()">
                <span class="fa fa-repeat"></span>
            </button>
        </form>
    </div>
</nav>
