<nav class="navbar navbar-default cs-toolbar" >
    <div id="search-toolbar" class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-left">
            <button type="button"
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="main.search.map"
                    title="Zur Kartenansicht wechseln">
                <span class="fa fa-map-o"></span>
            </button>
            <button type="button"
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="main.search.list"
                    title="Zur Listenansicht wechseln">
                <span class="fa fa-list"></span>
            </button>
        </div>

        <form class="navbar-form navbar-left cs-toolbar-form">
            <!-- Auf Objekte zentrieren -->
            <button type="button" 
                    id="center-objects" 
                    class="btn btn-default btn-primary navbar-btn"
                    ng-click="searchController.gotoNodes()"
                    ng-disabled="!searchController.hasNodes()"
                    title="Auf Objekte in der Karte zentrieren">
                <span class="fa fa-arrows-alt"></span>
            </button>
            <!-- Recherche Zurücksetzen -->
            <button type="button" 
                    id="reset-search" 
                    class="btn btn-default btn-primary navbar-btn"
                    ng-click="searchController.reset()"
                    title="Recherche zurücksetzen">
                <span class="fa fa-ban"></span>
            </button>
        </form>
        
        <!-- Alle Ergebnise zur Merkliste hinzufügen -->
        <form class="navbar-form navbar-left cs-toolbar-form">
            <button type="button" 
                    id="add-analysis-nodes" 
                    class="btn btn-default btn-primary navbar-btn"
                    ng-click="mainController.addAnalysisNodes()"
                    ng-disabled="!searchController.hasNodes()"
                    title="Alle Ergebnise zur Merkliste hinzufügen">
                <span class="fa fa-plus-circle"></span>
            </button>
            <!-- Recherche Zurücksetzen -->
        </form>

        <!-- Einschränkungen ----------------------------------------------- -->
        <form class="navbar-form navbar-left cs-toolbar-form">
            <!--<label>Einschränkungen</label>-->

            <!-- Search Locations -->
            <div class="btn-group">
                <!--<div ng-dropdown-multiselect=""
                     id="search-themes"
                     options="searchController.searchLocations" 
                     selected-model="searchController.selectedSearchLocation" 
                     extra-settings="searchController.searchLocationsSettings"
                     events="searchController.selectedSearchLocationEvents"
                     title="Geografische Einschränkungen"
                     ng-disabled="true">  
                </div>-->
                <div
                    id="search-themes" 
                    class="btn btn-default disabled"
                    title="Geografische Einschränkungen"
                    ng-disabled="true">
                    {{searchController.selectedSearchLocation.id > 0 ? 'Geometrie' : 'Kartenausschnitt'}}
                </div>
            </div>    

            <!-- Search Themes -->
            <div class="btn-group">
                <div ng-dropdown-multiselect=""
                     id="search-themes"
                     options="searchController.searchThemes" 
                     selected-model="searchController.selectedSearchThemes" 
                     extra-settings="searchController.searchThemesSettings"
                     translation-texts="searchController.searchThemesTranslationTexts"
                     title="Thematische Einschränkungen">  
                </div>
            </div>    

            <!-- Search Pollutants -->
            <div class="btn-group">
                <div ng-dropdown-multiselect=""
                     id="search-pollutants"
                     options="searchController.searchPollutants" 
                     selected-model="searchController.selectedSearchPollutants" 
                     extra-settings="searchController.searchPollutantsSettings"
                     translation-texts="searchController.searchPollutantsTranslationTexts"
                     group-by="pollutantgroup"
                     title="Einschränkungen nach Schadstoffen"> 
                </div>
            </div>   
            
            <!-- Timeperiod Search -->
            <div class="input-group" ng-class="{'has-error': searchController.selectedTimeperiod.minDate !== null && searchController.selectedTimeperiod.maxDate === null || searchController.selectedTimeperiod.minDate > searchController.selectedTimeperiod.maxDate}">
              <input type="text" 
                     id="mindate"
                     name="mindate"
                     class="form-control" 
                     uib-datepicker-popup="dd.MM.yyyy" 
                     ng-model="searchController.selectedTimeperiod.minDate" 
                     is-open="mindateopened" 
                     datepicker-options="searchController.minDateOptions" 
                     ng-required="false" 
                     close-text="Schließen" 
                     current-text="Heute"
                     clear-text="Zurücksetzen"
                     size="6"/>
              <span class="input-group-btn">
                <button type="button" title="Startdatum" class="btn btn-default" ng-click="mindateopened = true;"><i class="fa fa-calendar-minus-o"></i></button>
              </span>
            </div>
            
            <div class="input-group" ng-class="{'has-error': searchController.selectedTimeperiod.maxDate !== null && searchController.selectedTimeperiod.minDate === null || searchController.selectedTimeperiod.maxDate < searchController.selectedTimeperiod.minDate}">
              <input type="text" 
                     id="maxdate"
                     name="maxdate"
                     class="form-control" 
                     uib-datepicker-popup="dd.MM.yyyy" 
                     ng-model="searchController.selectedTimeperiod.maxDate" 
                     ng-disabled="searchController.selectedTimeperiod.minDate === null" 
                     is-open="maxdateopened" 
                     datepicker-options="searchController.maxDateOptions" 
                     ng-required="false" 
                     close-text="Schließen" 
                     current-text="Heute"
                     clear-text="Zurücksetzen"
                     size="6"/>
              <span class="input-group-btn">
                <button type="button" title="Enddatum" class="btn btn-default" ng-click="maxdateopened = true;"><i class="fa fa-calendar-plus-o"></i></button>
              </span>
            </div>
            
            <!-- Submit Button -->
            <button type="submit" 
                    title="Suche mit ausgewählten Einschränkungen durchführen"
                    class="btn btn-success navbar-btn cs-toolbar-form-action"
                    ng-disabled="(searchController.selectedSearchThemes.length === 0 || searchController.selectedSearchPollutants.length === 0
                                || ((searchController.selectedTimeperiod.minDate !== null && searchController.selectedTimeperiod.maxDate === null)
                                || (searchController.selectedTimeperiod.minDate === null && searchController.selectedTimeperiod.maxDate !== null)))"
                    ng-click="searchController.search()">
                <span class="fa fa-search"></span>
            </button>
        </form>

        <!-- Gazzetteer  -->
        <form class="navbar-form navbar-left cs-toolbar-form  navbar-right">
            <!--<label>Gehe zu</label>-->

            <div class="btn-group">
                <div ng-dropdown-multiselect=""
                     id="gazetteer-locations"
                     options="searchController.gazetteerLocations" 
                     selected-model="searchController.selectedGazetteerLocation" 
                     extra-settings="searchController.gazetteerLocationsSettings"
                     translation-texts="searchController.gazetteerLocationsTranslationTexts"
                     group-by="category"
                     title="Orte für Gazetteerabfrage"> 
                </div>
            </div>

            <button type="submit" 
                    title="Gehe zu ausgewähltem Ort"
                    class="btn btn-success navbar-btn cs-toolbar-form-action"
                    ng-disabled="!searchController.selectedGazetteerLocation.$self"
                    ng-click="searchController.gotoLocation()">
                <span class="fa fa-repeat"></span>
            </button>
        </form>
    </div>
</nav>
