<div id="search-toolbar" class="collapse navbar-collapse">
    <div class="nav navbar-nav navbar-left">
        <button type="button"
                data-ui-sref-active="active"
                class="btn btn-md navbar-btn" 
                data-ui-sref="main.analysis.map"
                title="Zur Kartenansicht wechseln">
            <span class="fa fa-map-o"></span>
        </button>
        <!--
        <button type="button"
                disabled
                data-ui-sref-active="active"
                class="btn btn-md navbar-btn" 
                data-ui-sref="analysis.search.list"
                title="Zur Listenansicht wechseln">
            <span class="fa fa-list"></span>
        </button>
        -->
    </div>

    <!-- Auf Objekte zentrieren -->
    <form class="navbar-form navbar-left cs-toolbar-form">
        <button type="button" 
                id="external-datasources" 
                class="btn btn-default btn-primary navbar-btn"
                ng-click="analysisController.gotoNodes()"
                ng-disabled="!analysisController.hasNodes()"
                title="Auf Objekte in der Karte zentrieren">
            <span class="fa fa-arrows-alt"></span>
        </button>
    </form>

    <!-- Merkliste importierten / exportieren 
    <form class="navbar-form navbar-left cs-toolbar-form">
        <button type="button" 
                class="btn btn-default btn-success navbar-btn"
                ng-disabled="true"
                title="Merkliste exportieren">
            <span class="fa fa-download"></span>
        </button>
        <button type="button" 
                class="btn btn-default btn-success navbar-btn"
                ng-disabled="true"
                title="Merkliste importieren">
            <span class="fa fa-upload"></span>
        </button>
    </form>
    -->
    
    <!-- Externe Datenquellen -->
    <form class="navbar-form navbar-left cs-toolbar-form">
        <button type="button" 
                id="external-datasources" 
                class="btn btn-default btn-success navbar-btn"
                data-template-url="templates/external-datasources.html"
                placement="bottom-left"
                auto-close="1"
                bs-popover="popover"
                title="Externe Datenquellen verwalten">
            <span class="fa fa-globe"></span>
        </button>
    </form> 

    <!-- Data Export -->
    <form class="navbar-form navbar-left cs-toolbar-form">
        <button type="button" 
                id="data-export"
                class="btn btn-default btn-success navbar-btn"
                data-ui-sref-active="active"
                ng-disabled="!analysisController.hasNodes()"
                data-ui-sref="modal.export"
                title="Originaldatenexport">
            <span class="fa fa-floppy-o"></span>
        </button>
    </form>
</div>
