    <div id="search-toolbar" class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-left">
            <button type="button"
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="main.analysis.map"
                    title="Karte">
                <span class="fa fa-map-o"></span>
            </button>
            <!--
            <button type="button"
                    disabled
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="analysis.search.list"
                    title="Liste">
                <span class="fa fa-list"></span>
            </button>
            -->
        </div>

        <form class="navbar-form navbar-left cs-toolbar-form">
            <button type="button" 
                    class="btn btn-default btn-success navbar-btn">
                <span class="fa fa-download"></span>
            </button>
            <button type="button" 
                    class="btn btn-default btn-success navbar-btn">
                <span class="fa fa-upload"></span>
            </button>
        </form>

        <form class="navbar-form navbar-left cs-toolbar-form">
            <button type="button" 
                    class="btn btn-default btn-success navbar-btn">
                <span class="fa fa-floppy-o"></span>
            </button>
        </form>

        <form class="navbar-form navbar-left cs-toolbar-form">
            <button type="button" 
                    class="btn btn-default btn-success navbar-btn">
                <span class="fa fa-globe"></span>
            </button>
        </form>
    </div>
