<nav class="navbar navbar-default cs-toolbar" >
    <div id="search-toolbar" class="collapse navbar-collapse">
        <!--<div class="nav navbar-nav navbar-left" role="group" aria-label="viewGroup">
            <button type="button"
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="main.search.map"
                    title="Karte">
                <span class="fa fa-map-o"></span>
            </button>
            <button type="button"
                    data-ui-sref-active="active"
                    class="btn btn-md navbar-btn" 
                    data-ui-sref="main.search.list"
                    title="Liste">
                <span class="fa fa-list"></span>
            </button>
        </div>-->
    </div>
</nav>