<div class="flex-container-vertical">
    <div class="cs-result-list">
        <ul class="list-group">
            <li class="list-group-item "
                ng-class="{'cs-active-item': node.$analysis}"
                ng-repeat="node in mapController.nodes| filter:{$filtered:false} | orderBy:['$classTitle', 'name'] track by node.objectKey"
                id="anchor{{node.objectKey}}">

                <!-- ICON -------------------------------------------------- -->
                <span class="btn-icon">
                    <img src="{{node.$icon}}" alt="{{node.$className}}" title="{{node.$classTitle}}">
                </span>

                <!-- GOTO Object in Map ------------------------------------ -->
                <span class="btn-link"
                      title="{{node.name + ' in der Karte anzeigen'}}"
                      ng-disabled="!node.$feature"
                      ng-style="mapController.isNodeSelected(node) && {'font-weight':'bold'}"
                      ng-click="mapController.gotoNode(node)">
                    {{node.name| textLengthFilter:28}} 
                </span>

                <!-- ADD to Analysis --------------------------------------- -->
                <a class="btn btn-sm btn-icon pull-right"
                   title="{{node.$analysis ? 'Bereits zur Merkliste hinzugefügt' : 'Zur Merkliste hinzufügen'}}"
                   style="padding:5px"
                   ng-if="mainController.mode === 'search'"
                   ng-disabled="node.$analysis === true"
                   ng-click="mainController.addAnalysisNode(node)">
                    <span class="fa fa-plus-circle fa-2x"></span>
                </a>

                <!-- REMOVE FROM Analysis ---------------------------------- -->
                <a class="btn btn-sm btn-icon pull-right"
                   style="padding:5px"
                   title="Von der Merkliste entfernen"
                   ng-if="mainController.mode === 'analysis'"
                   ng-style="!node.description && {'clear':'right'}"
                   ng-click="mainController.removeAnalysisNode(node)">
                    <span class="fa fa-minus-circle fa-2x"></span>
                </a>

                <!-- SHOW Object Details Modal ----------------------------- -->
                <a class="btn btn-sm btn-icon pull-right"
                   ng-if="node.LEGACY_OBJECT_ID"
                   data-ui-sref="modal.entity({class: node.classKey.split('.').slice(1, 2).pop(), id:node.LEGACY_OBJECT_ID})"
                   title="Informationen zum Objekt anzeigen"
                   style="padding-right:0; padding-left:0">
                   <span class="fa fa-info-circle fa-2x"></span>
                </a>

                <!-- DESCRIPTION ------------------------------------------- -->
                <p>
                    <small><small><span title="{{node.$data| descriptionFilter}}">{{node.$data| descriptionFilter | textLengthFilter:50:false:'...':true}}</span></small></small>
                </p>
                <!--<div ng-if="!node.description" style="clear:right"></div>-->
            </li>
        </ul>
    </div>

    <!-- mapHeight must be set on $scope (e.g. in stateChangeSuccess), otherwise leaflet goes berserk after switching between tabs !!! -->
    <!-- don't specifiy  layers="layers" -> leaflet will use default OSM BG Layer -->
    <div id="{{mainController.mode}}-map-search-container" class="flex-container-horizontal">
        <leaflet
            id="{{mainController.mode}}-map" 
            defaults="defaults" 
            lf-center="center" 
            center="center" 
            maxBounds="maxBounds" 
            controls="controls"
            width="100%"
            height="{{mapHeight}}">
        </leaflet>
    </div>
</div>