<div class="form-signin-page">
    <div class="form-signin-wrapper">
        <form class="form-signin">       
            <h2 class="form-signin-heading">Bitte melden Sie sich an</h2>

            <div  ng-class="{
                        'has-error':errorStatusCode !== - 1}">
                <input type="text" 
                       class="form-control has-error" 
                       name="username" 
                       placeholder="Benutzername" 
                       required="" autofocus="" 
                       ng-model="username"/>

                <input type="password" 
                       class="form-control" 
                       name="password" 
                       placeholder="Passwort" 
                       required=""
                       ng-model="password"/>  </div>

            <label class="checkbox">
                <input type="checkbox" checked disabled 
                       value="remember-me" 
                       id="rememberMe" name="rememberMe"> Anmeldedaten merken
            </label>

            <div ng-if="errorStatusCode !== -1">
                <p><strong>Anmeldung fehlgeschlagen: {{errorStatusMessage}} ({{errorStatusCode}})</strong></p>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" 
                    title="Am UDM2020-DI System anmelden"
                    type="submit" 
                    ng-click="authenticationController.signIn(username, password)"
                    ng-disabled="!username || !password">Login</button>

        </form>
    </div>
</div>