<div class="modal-content">
    <div class="modal-body">
        <wizard on-finish="exportController.finishedWizard()" 
                name="export-wizard"
                template="templates/wizard-tpl.html"
                current-step="wizard.currentStep"> 

            <!-- Dataset Description -->
            <wz-step wz-title="Dataset Description" 
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['Dataset Description']"
                     canexit="wizard.exitValidators['Dataset Description']">       
                <ng-include src="'templates/openDataRegistration.html'"> 
                </ng-include>
            </wz-step>

            <!-- Geographic Location -->
            <wz-step wz-title="Geographic Location"
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['Geographic Location']"
                     canexit="wizard.exitValidators['Geographic Location']">
                <ng-include src="'templates/geographicLocation.html'"> 
                </ng-include>
            </wz-step>

            <!-- License and Conditions -->
            <wz-step wz-title="License and Conditions"
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['License and Conditions']"
                     canexit="wizard.exitValidators['License and Conditions']">
                <ng-include src="'templates/licenseAndConditions.html'"> 
                </ng-include>
            </wz-step>

            <!-- Summary -->
            <wz-step wz-title="Summary"
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['Summary']"
                     canexit="wizard.exitValidators['Summary']">
                <ng-include src="'templates/summary.html'"> 
                </ng-include>
            </wz-step>
        </wizard>
    </div>
</div>


