<div class="modal-content">
    <div class="modal-body">
        <wizard on-finish="exportController.finishedWizard()" 
                name="export-wizard"
                template="templates/wizard-tpl.html"
                current-step="wizard.currentStep"> 

            <!-- Export Configuration -->
            <wz-step wz-title="Konfiguration" 
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['Konfiguration']"
                     canexit="wizard.exitValidators['Konfiguration']">       
                <ng-include src="'templates/export/configuration.html'"> 
                </ng-include>
            </wz-step>

            <!-- Export Datasources -->
            <wz-step wz-title="Datenquellen"
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['Datenquellen']"
                     canexit="wizard.exitValidators['Datenquellen']">
                <ng-include src="'templates/export/datasources.html'"> 
                </ng-include>
            </wz-step>

            <!-- Export Parameter -->
            <wz-step wz-title="Parameter"
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['Parameter']"
                     canexit="wizard.exitValidators['Parameter']">
                <ng-include src="'templates/export/parameters.html'"> 
                </ng-include>
            </wz-step>

            <!-- Export Export -->
            <wz-step wz-title="Export"
                     template="templates/wizard-step-tpl.html"
                     wz-data="wizard"
                     canenter="wizard.enterValidators['Export']"
                     canexit="wizard.exitValidators['Export']">
                <ng-include src="'templates/export/export.html'"> 
                </ng-include>
            </wz-step>
        </wizard>
    </div>
    <div class="modal-body">
        <!-- empty -->
    </div>
</div>


