<div ui-view="authentication"   
     class="flex-container-horizontal" 
     ng-show="$state.includes('main.authentication')"/>

<div ui-view="search" 
     sticky-state="main.search" 
     class="flex-container-horizontal"
     autohide="false" 
     ng-show="mainController.mode === 'search'"/>

<div ui-view="analysis" 
     sticky-state="main.analysis" 
     class="flex-container-horizontal" 
     autohide="false" 
     ng-show="mainController.mode === 'analysis'"/>

<div ui-view="protocol" 
     sticky-state="main.protocol" 
     class="flex-container-horizontal" 
     autohide="false" 
     ng-show="mainController.mode === 'protocol'"/>