<div class="modal-content">
    <div class="modal-header">
        <button type="button" 
                class="close" 
                ng-click="entityController.close()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span>
        </button>
        <h4 class="modal-title">
            <span class="btn-icon">
                <img src="{{entity.$icon}}" alt="{{entity.$className}}"/>
            </span>
            {{entity.name}} ({{entity.$classTitle}})
        </h4>
    </div>
    <div class="modal-body">
        <div ng-include="entityController.template"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="entityController.close()">Schließen</button>
    </div>
</div><!-- /.modal-content -->