<div class="cs-table">
    <table ng-table="aggregationTableController.tableData" 
           class="table table-condensed table-bordered table-striped"
           show-filter="false" >
        
        {{$data}}
        <colgroup>
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
        </colgroup>
        <tr ng-repeat="value in $data track by value.pollutantkey">
            <td title="'Parameter'" data-sortable="'name'">
                {{value.name}}
            </td>
            <td title="'Maximalwert'">
                {{value.maxvalue}}
            </td>
            <td title="'gemessen am'">
                 {{aggregationTableController.parseDate(value.maxdate) | date:'dd.MM.yyyy'}}
            </td>   
            <td title="'Minimalwert'">
                {{value.minvalue}}
            </td>
            <td title="'gemessen am'">
                 {{aggregationTableController.parseDate(value.mindate) | date:'dd.MM.yyyy'}}
            </td>    
        </tr>
    </table>
