<div class="modal-header">
    <h3 class="modal-title" 
        id="modal-title">
        Datenimport
    </h3>
</div>

<div class="modal-body" id="modal-body">
    <form name="importForm">

        <div class="form-group row">
            <div class="col-md-12">
                <p>Unterstütztes Format: ESRI Shapefile (.SHP, .DBF) in ZIP Archiv.</p>
            </div>
        </div>

        <!-- Input File Selection -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default"
                              ng-disabled="importController.importInProgress === true || importController.importCompleted === true">
                            Datei auswählen: 
                            <input type="file" 
                                   style="display: none;" 
                                   id="importFiles"
                                   required
                                   ng-model="importController.importFile"
                                   ng-disabled="importController.importInProgress === true || importController.importCompleted === true" 
                                   ngf-select
                                   ngf-model-invalid="errorFile"
                                   ngf-max-size="importController.maxFilesize"
                                   ngf-multiple="false" 
                                   ngf-pattern="'.zip'"
                                   ngf-accept="'application/zip'"
                                   name="importFile">
                        </span>
                    </label>
                    <input type="text" 
                           class="form-control" 
                           readonly
                           ng-model="importController.importFile.name">
                </div>
            </div>
        </div>

        <!-- upload file -->
        <!--
        <div class="form-group row">
            <div class="col-xs-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" 
                               class="form-check-input"
                               ng-disabled="true">
                        Diese Datei allen anderen Nutzern zur Verfügung stellen
                    </label>
                </div>
            </div>
        </div>
        -->

        <!-- Upload and Processing Progress -->
        <div class="form-group row">
            <div class="col-md-12">
                <p>
                    <span ng-show="importForm.importFile.$error.maxSize">
                        <strong>
                            Die Datei ist zu groß: {{errorFile.size / 1000000|number:1}}MB. 
                            Maximale Dateigröße:  {{importController.maxFilesize}}.
                        </strong>
                    </span>
                </p>
                <uib-progressbar class="progress-striped" 
                                 ng-class="{active:importController.importInProgress}"
                                 max="200" 
                                 value="importController.importProgress"
                                 type="{{importController.status.type}}">
                    <!--{{importController.importInProgress}} : {{importController.importProgress}} -->
                </uib-progressbar>
                <center>
                    <p>{{importController.status.message}}</p>
                </center>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <!-- Import Button -->
    <button class="btn btn-default pull-left"
            type="button" 
            ng-disabled="!importForm.$valid || importController.importInProgress"
            ng-show="!importController.importCompleted" 
            ng-click="importController.import()">
        Importieren
    </button>

    <!-- Close Button -->
    <button class="btn btn-default pull-left"
            type="button" 
            ng-show="importController.importCompleted" 
            ng-click="importController.close()">
        Schliessen
    </button>

    <!-- Cancel Button -->
    <button 
        class="btn btn-default pull-left" 
        type="button" 
        ng-disabled="importController.importInProgress" 
        ng-hide="importController.importCompleted" 
        ng-click="importController.cancel()">Abbrechen
    </button>
</div>