<section ng-show="selected" ng-class="{current: selected, done: completed}" class="step">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">{{wzTitle}}
                <button type="button" 
                        title="Dialog schließen"
                        class="close pull-right" 
                        ng-click="wzData.close()">
                    <span class="fa fa-close"></span>
                </button>
            </h1>
        </div>

        <div class="panel-body">
            <div ng-transclude></div>
        </div>

        <div uib-alert 
             ng-class="'alert-' + (wzData.status.type || 'primary')"
             style="margin: 0">
            <span ng-bind-html="wzData.status.message" style="text-align:left"></span>
        </div>

        <div class="panel-footer clearfix">
            <button type="button" 
                    title="Nächster Schritt"
                    class="btn btn-primary pull-right" 
                    wz-next 
                    ng-disabled="!wzData.canProceed">
                {{wzData.proceedButtonText}}
            </button>
            <span class="pull-right">&nbsp;</span>
            <button type="button" 
                    title="Vorheriger Schritt"
                    class="btn btn-default pull-right" 
                    wz-previous 
                    ng-disabled="!wzData.canGoBack">
                Zurück
            </button>
        </div>
    </div>
</section>